In [16]:
import numpy as np
import pandas as pd
import seaborn as sns
import math as m
import matplotlib.pyplot as plt
from collections import Counter
from datetime import datetime
from itertools import combinations

In [5]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1228,tt1535109,55000000,95000000,Captain Phillips,Tom Hanks|Catherine Keener|Max Martini|Chris M...,Paul Greengrass,Out here survival is everything.,The true story of Captain Richard Phillips and...,134,Action|Drama|Thriller,Columbia Pictures,10/10/2013,7.7,2013
413,tt1504320,15000000,414211549,The King's Speech,Colin Firth|Geoffrey Rush|Helena Bonham Carter...,Tom Hooper,Find your voice.,The King's Speech tells the story of the man w...,118,Drama|History,The Weinstein Company|UK Film Council|Bedlam P...,9/6/2010,7.4,2010
661,tt0481536,12000000,43493123,Harold & Kumar Escape from Guantanamo Bay,John Cho|Kal Penn|Neil Patrick Harris|Rob Cord...,Jon Hurwitz|Hayden Schlossberg,This time they're running from the joint.,"Having satisfied their urge for White Castle, ...",107,Comedy|Adventure,New Line Cinema,4/25/2008,6.0,2008
859,tt1602098,8000000,5634828,Albert Nobbs,Glenn Close|Mia Wasikowska|Aaron Taylor-Johnso...,Rodrigo GarcÃ­a,A man with a secret. A woman with a dream.,Albert Nobbs struggles to survive in late 19th...,113,Drama,Chrysalis Films,12/21/2011,6.1,2011
1600,tt0414852,12000000,9584131,Banlieue 13,David Belle|Cyril Raffaelli|Tony D'Amario|Dany...,Pierre Morel,Welcome to District B13. Welcome to the future,"Set in the ghettos of Paris in 2010, an underc...",84,Action|Thriller|Science Fiction,Canal Plus|TF1 Films Production|EuropaCorp,11/9/2004,6.5,2004

In [6]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [8]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

data['provit'] = data['revenue'] - data['budget']

def release_month (date):
    dateString = date
    dateFormatter = "%m/%d/%Y"
    return datetime.strptime(dateString, dateFormatter).month

data['release_month'] = data.release_date.apply(release_month)

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [9]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [68]:
# тут пишем ваш код для решения данного вопроса:
data.loc[data.budget == data.budget.max()][['original_title', 'imdb_id']]

                                  original_title    imdb_id
723  Pirates of the Caribbean: On Stranger Tides  tt1298650

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [11]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157. Gods and Generals (tt0279111)'

In [12]:
data.loc[data.runtime == data.runtime.max()][['original_title', 'imdb_id']]

         original_title    imdb_id
1157  Gods and Generals  tt0279111

# 3. Какой из фильмов самый короткий (в минутах)?

In [67]:
answers['3'] = '768. Winnie the Pooh (tt1449283)'

data.loc[data.runtime == data.runtime.min()][['original_title', 'imdb_id']]

      original_title    imdb_id
768  Winnie the Pooh  tt1449283

# 4. Какова средняя длительность фильмов?

In [66]:
answers['4'] = '110'

mean_runtime = m.ceil(data.runtime.mean())
print(mean_runtime)

110

# 5. Каково медианное значение длительности фильмов?

In [65]:
answers['5'] = '107'

median_runtime = m.ceil(data.runtime.median())
print(median_runtime)

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [64]:
answers['6'] = '239. Avatar (tt0499549)'

data.loc[data.provit == data.provit.max()][['original_title', 'imdb_id']]

    original_title    imdb_id
239         Avatar  tt0499549

# 7. Какой фильм самый убыточный?

In [63]:
answers['7'] = '1245. The Lone Ranger (tt1210819)'

data.loc[data.provit == data.provit.min()][['original_title', 'imdb_id']]

       original_title    imdb_id
1245  The Lone Ranger  tt1210819

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [62]:
answers['8'] = '1478'

count_movie_positive_provit = len(data[data['provit']>0])
print(count_movie_positive_provit)

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [61]:
answers['9'] = '599. The Dark Knight (tt0468569)'

data.loc[(data.revenue==data.groupby(['release_year'])['revenue'].max()[2008]) & (data.release_year==2008)][['original_title', 'imdb_id']]

      original_title    imdb_id
599  The Dark Knight  tt0468569

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [60]:
answers['10'] = '1245. The Lone Ranger (tt1210819)'

data.loc[(data.provit==data.groupby(['release_year'])['provit'].min()[[2012,2013,2014]].min())&((data.release_year<=2014)&(data.release_year>=2012))][['original_title', 'imdb_id']]

       original_title    imdb_id
1245  The Lone Ranger  tt1210819

# 11. Какого жанра фильмов больше всего?

In [59]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = 'Drama'

pd.Series(data['genres'].str.cat(sep='|').split('|')).value_counts().head(1)

Drama    782
dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [58]:
answers['12'] = 'Drama'

pd.Series(data[data['provit']>0]['genres'].str.cat(sep='|').split('|')).value_counts().head(1)

Drama    560
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [57]:
answers['13'] = 'Peter Jackson'

data.groupby(['director'])['revenue'].sum().sort_values(ascending=False).head(1)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [56]:
answers['14'] = 'Robert Rodriguez'

pd.Series(data[data.genres.str.contains("Action", na=False)]['director'].str.cat(sep='|').split('|')).value_counts().head(1)

Robert Rodriguez    9
dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [73]:
answers['15'] = 'Chris Hemsworth'

cast_movie = data.copy()
cast_movie['new_cast'] = cast_movie['cast'].str.split('|')
cast_movie = cast_movie.explode('new_cast')
cast_movie[cast_movie.release_year == 2012].groupby(['new_cast'])['revenue'].sum().sort_values(ascending=False).head(1)

new_cast
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [74]:
answers['16'] = 'Matt Damon'

cast_movie[cast_movie.budget > cast_movie.budget.mean()]['new_cast'].value_counts().head(1)

Matt Damon    18
Name: new_cast, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [53]:
answers['17'] = 'Action'

pd.Series(data[data.cast.str.contains("Nicolas Cage", na=False)]['genres'].str.cat(sep='|').split('|')).value_counts().head(1)

Action    17
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [52]:
answers['18'] = '925. K-19: The Widowmaker (tt0267626)'

data[data.production_companies.str.contains("Paramount Pictures", na=False)].sort_values("provit", ascending=False).tail(1)[['original_title', 'imdb_id']]

           original_title    imdb_id
925  K-19: The Widowmaker  tt0267626

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [51]:
answers['19'] = '2015'

data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [50]:
answers['20'] = '2014'

data[data.production_companies.str.contains("Warner Bros", na=False)].groupby(['release_year'])['provit'].sum().sort_values(ascending=False).head(1)

release_year
2014    2295464519
Name: provit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [49]:
answers['21'] = 'месяц № 9'

data.groupby(['release_month'])['original_title'].count().sort_values(ascending=False).head(1)

release_month
9    227
Name: original_title, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [48]:
answers['22'] = '450'

data.groupby(['release_month'])['original_title'].count()[[6,7,8]].sum()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [47]:
answers['23'] = 'Peter Jackson'

movie_director = data.copy()
movie_director['new_director'] = movie_director['director'].str.split('|')
movie_director = movie_director.explode('new_director')
movie_director = movie_director[(movie_director.release_month==1) | (movie_director.release_month==2) | (movie_director.release_month==12)]
movie_director['new_director'].value_counts().head(1)

Peter Jackson    7
Name: new_director, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [46]:
answers['24'] = 'Four By Two Productions'

production = data.copy()
production['new_production'] = production['production_companies'].str.split('|')
production = production.explode('new_production')
production['len_movie']=production.original_title.apply(lambda title: len(title))
production.groupby(['new_production'])['len_movie'].mean().sort_values(ascending=False).head(1)

new_production
Four By Two Productions    83.0
Name: len_movie, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [45]:
answers['25'] = 'Midnight Picture Show'

production['len_overview']=production.overview.apply(lambda overview: len(overview))
production.groupby(['new_production'])['len_overview'].mean().sort_values(ascending=False).head(1)

new_production
Midnight Picture Show    1000.0
Name: len_overview, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [44]:
answers['26'] = 'The Dark Knight, Inside Out, Room, Interstellar, The Imitation Game, Guardians of the Galaxy, Gone Girl, The Grand Budapest Hotel, Inception, The Pianist, The Lord of the Rings: The Return of the King, The Wolf of Wall Street, 12 Years a Slave, Memento'

best_movie = data[data['vote_average'] > data['vote_average'].quantile(0.99)][['vote_average', 'original_title']].sort_values('vote_average', ascending=False)
print(best_movie)

      vote_average                                 original_title
599            8.1                                The Dark Knight
9              8.0                                     Inside Out
34             8.0                                           Room
118            8.0                                   Interstellar
125            8.0                             The Imitation Game
119            7.9                        Guardians of the Galaxy
128            7.9                                      Gone Girl
138            7.9                       The Grand Budapest Hotel
370            7.9                                      Inception
872            7.9                                    The Pianist
1081           7.9  The Lord of the Rings: The Return of the King
1183           7.9                        The Wolf of Wall Street
1191           7.9                               12 Years a Slave
1800           7.9                                        Memento

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [43]:
answers['27'] = 'Daniel Radcliffe Rupert Grint, Daniel Radcliffe Emma Watson, Emma Watson Rupert Grint'

actor_list = data.cast.str.split('|').tolist()
combo_list=[]

for i in actor_list:
    for j in combinations(i, 2):
        combo_list.append(' '.join(sorted(j)))
        
combo_list = pd.DataFrame(combo_list)
combo_list.columns = ['actor_combinations']
combo_list.actor_combinations.value_counts().head(10)

Emma Watson Rupert Grint            8
Daniel Radcliffe Rupert Grint       8
Daniel Radcliffe Emma Watson        8
Ben Stiller Owen Wilson             6
Helena Bonham Carter Johnny Depp    6
Kristen Stewart Taylor Lautner      5
Kristen Stewart Robert Pattinson    5
Paul Walker Vin Diesel              5
Hugh Jackman Ian McKellen           5
Robert Pattinson Taylor Lautner     5
Name: actor_combinations, dtype: int64

# Submission

In [75]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'месяц № 9',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'The Dark Knight, Inside Out, Room, Interstellar, The Imitation Game, Guardians of the Galaxy, Gone Girl, The Grand Budapest Hotel, Inception, The Pianist, The Lord of the Rings: The Return of the King, The Wolf of Wall Street, 12 Years a Slave, Memento',
 '27': 'Daniel Radcliffe Rupert Grint, Daniel Radcliffe Emma Watson, Emma Watson Rupert Grint'}

In [76]:
# и убедиться что ни чего не пропустил)
len(answers)

27